@charset "UTF-8";

.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right:7.6%;
    padding-left:2.8%;
    position: absolute; /*absoluteを使うとwidthを失う*/
    width: 100%;
    z-index: 9997;
}

.header__navlist{
    display: flex;
    gap: 77px;
}

.header__nav-item{
    color: #ffffff;
    font-weight: bold;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}

.logo{
    width: 227px;
}

h2 img{
    height: 77px;
    width: auto;
}

#wrapper{
    background-color:#E6D6BD;
}
/* 少ない表現で効率的だけど、だれでも読めるcssコードにする方法が知りたい */
/* 基本的にmargin-top1個ずつおいて調整すれば良い感じなのだろうか？ */
/* divを中央に寄せるときはjustifycontentを使うだけでいいのだろうか？margin 0 autoやtext-align:centerの活躍場はないのか？*/
/*すべてのclass名～_titleのwidthを合わせる方法が知りたい */
.TOP_inner{
    padding: 100px;
    text-align: center;
}

.TOP_catchcopy{
    margin-top: 60px;
    font-size: 50px;
    line-height: 60px;
}
.TOP_text{
    width: 510px;
    margin: 0 auto;
    margin-top: 50px;
    line-height: 30px;
}

#aboutus,#menu,#footer{
    max-width:1000px ;
    margin: 0 auto;
}

.aboutus_inner{
    display: flex;
    justify-content: center;
    align-items: center;
}
.aboutus_left_container img{
    /* width: 50%; */
    border-bottom-right-radius: 50px;
}
.aboutus_right_container{
    width: 50%;
    padding-left: 80px;
}
/* .aboutus_right_title img{
    width: 50%;
} */
.aboutus_right__heading h2{
    padding-top: 50px;
    font-size: 50px;
    font-weight: 100;
    line-height: 60px;
}
.aboutus_right__paragraph{
    padding-top: 50px;
}
.aboutus_right__paragraph p{
    line-height: 25px;
}

.menu_inner{
    margin-top: 100px;
}
.menu_title{
    text-align: center;
}
/* .menu_title img{
    width: 12%;
} */

.menu-column{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 35px;
}

.menu_contents{
    width: 30%;
}

.menu_contents img{
    /* height: 200px;
    width: 300px; */
    border-top-right-radius: 50px;
}
.menu_contents h3{
    font-size: 30px;
    color: #D30202;
    margin-top: -10px;
    margin-left: 15px;
}
.menu_contents p{
    margin-top:25px ;
    line-height: 24px;
}
.gallery_inner{
    margin-top: 90px;
}
.gallery_title{
    text-align: center;
}
/* .gallery_title img{
    width: 12%;
} */
.gallery_column{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.event_inner{
    margin-top: 90px;
}
.event_title{
    text-align: center;
}
/* .event_title img{
    width: 12%;
} */
.event_block{
    background-color: #ffffff;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 40px;
    padding-top:35px;
    padding-bottom:35px;
    border: #4F260B solid 3px;
}
.event_contents{
    display: flex;
    align-items: center;
    gap: 90px;
    max-width: 730px;
    margin: 0 auto;
    font-size: 23px;
    &:not(:last-child) {
    margin-bottom: 25px;
    }
}

.event_postdate{
    align-items: left;
}


.access_inner{
    margin-top: 80px;
}
.access_title{
    text-align: center;
}
/* .access_title img{
    width: 12%;
} */
.access_map{
    margin-top:40px;
    filter: grayscale(100%) invert(92%) contrast(83%);
    height: 470px;
}

.footer_column{
    display: flex;
    justify-content: center;
    gap: 70px;
    margin: 80px auto 0;
}
.footer_logo img{
    width: 230px;
}

.footer_countainer-datetaime{
    margin-bottom: 20px;
}
.footer_countainer-address{
    margin-bottom: 20px;
}
.footer_countainer-addressname{
    margin-bottom: 20px;
}
.footer_countainer-mail{
    margin-bottom:80px ;
}
.footer_item{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer_item{
    margin-bottom: 80px;
}

.hamburger,
.header__nav-sp,
.aboutus_sp_wrapper,
.menu_wrapper-sp
{
    display: none;
}

.toTop{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width:125px ;
}

@media screen and (max-width:1100px) {
.header__nav{
    display: none;
}
.TOP_catchcopy{
    font-size: 30px; /*kadai4*/
}
.aboutus_right__heading h2{
    font-size: 30px;/*kadai4*/
}

.hamburger{
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    z-index: 9999;
}

.hamburger span{
    width: 30px;
    height: 2px;
    background-color: #ffffff;
    position: absolute;
    top: 14px;
    transition: 0.3s;
}
.hamburger span::before{
    width: 30px;
    height: 2px;
    background-color: #ffffff;
    position: absolute;
    content: "";
    top: -12px;
    transition: 0.3s;
}
.hamburger span::after{
    width: 30px;
    height: 2px;
    background-color: #ffffff;
    position: absolute;
    content: "";
    bottom:-12px;
    transition: 0.3s;
}

.open span{
    background-color: transparent;
}
.open span::before{
    transform:rotate(45deg);
    top:0;
}
.open span::after{
    transform:rotate(-45deg);
    bottom:0;
}

.header__nav-sp{
    position:absolute;
    z-index: 9998;
    width: 100%;
    height: 100vh;
    background-color: #00000096;
}

.header__nav-sp,.header__navlist{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 20px;
}
}
.slick-dots{
    bottom: 10px;
}
.slick-dots li.slick-active button:before,
.slick-dots li button:before{
    color: #ffffff;
}
.slick-dotted.slick-slider{
    margin-bottom:0px ;
}

@media screen and (max-width:767px){
h2 img{
    margin: 0 auto;
    width: auto;
    height: 70px;
}
.TOP_inner{
    padding: 0px;
    padding-top:30px;
}
.aboutus_wrapper{
    display: none; /*スマホサイズに変更：pc封印*/
}

.aboutus_sp_wrapper{
    display: block;
}

.aboutus_sp_img img{
    width: 100%;
    margin: 0 auto;
} */
.aboutus_sp_subtitle{
    font-size: 20px;
    margin: 0 auto;
}
.aboutus_sp_paragraph{
    font-size: 14px;
}

.aboutus_inner{
    display: flex;
    justify-content: center;
    align-items: center;
}
.aboutus_left_container img{
    /* width: 50%; */
    border-bottom-right-radius: 50px;
}
.aboutus_right_container{
    width: 50%;
    padding-left: 80px;
}
/* .aboutus_right_title img{
    width: 50%;
} */
.aboutus_right__heading h2{
    padding-top: 50px;
    font-size: 50px;
    font-weight: 100;
    line-height: 60px;
}
.aboutus_right__paragraph{
    padding-top: 50px;
}
.aboutus_right__paragraph p{
    line-height: 25px;
}
.menu_inner-sp{
    margin-top: 100px;
}
.menu_title-sp{
    text-align: center;
}
/* .menu_title-sp img{
    width: 12%;
} */

.menu-column{
    flex-direction: row; /* 横並び */
    gap: 20px; /* スマホ用に隙間を少し狭める */
}

.menu_contents img{
    height: 200px;
    width: 300px;
    border-top-right-radius: 50px;
}
/* .menu-column-sp{
    margin-top: 35px;
}

.menu_contents-sp{
    width: 30%;
}

.menu_contents-sp img{
    border-top-right-radius: 50px;
}
.menu_contents-sp h3{
    font-size: 30px;
    color: #D30202;
    margin-top: -10px;
    margin-left: 15px;
}
.menu_contents-sp p{
    margin-top:25px ;
    line-height: 24px;
} */


}